
body{
	margin: 0px;
}
.site{

	background-color: #8CAD83;
	max-width: 1200px;
	padding-top:50px;
	margin: 0px auto;
	padding-bottom: 15px;
}

.imagem{

	background-image: url("fundo.png");
	width: 1200px;
	height: 800px;
	
}